<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="footer">David Culligan 2015</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/transition.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/zoom.js" | prepend: site.baseurl }}"></script>
