<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    
                </div>

                <!-- Left Blog Column -->
               
                <div class="col-lg-9 text-center">
                    {{ content }}
                </div>
                <div class="col-lg-1 text-center">
                </div>
                
                <!-- Right Blog Column -->
                <div class="col-lg-3 text-center" id="rightcolumn">  
                    <hr>
                    <img class="social-dave" src="{{ '/img/dave.png' | prepend: site.baseurl }}" Height="150" width="94"><br><br>
                    <ul class="nobullets2">
                    <li>
                        <a href="https://instagram.com/dmculligan/" target="_blank"> <img src="{{ '/img/button_instagram.png' | prepend: site.baseurl }}" width="230" height="33"></a>
                    </li><br>
                    <li>
                        <a href="https://twitter.com/culligandave" target="_blank"> <img src="{{ '/img/button_twitter.png' | prepend: site.baseurl }}" width="230" height="33" ></a>
                    </li><br>
                    <li>
                        <a href="https://www.linkedin.com/profile/view?id=234036395&trk=nav_responsive_tab_profile_pic" target="_blank"><img src="{{ '/img/button_linkedin.png' | prepend: site.baseurl }}" width="230" height="33" ></a>
                    </li>

                    </ul>
                    <hr>

                    <h4> Currently Reading: </h4> <br>
                    <a href="https://www.goodreads.com/book/show/18373.Flowers_for_Algernon" target="_blank">
                    <img class="social-dave" src="{{ '/img/algernon.jpg' | prepend: site.baseurl }}" Height="200" width="130"></a><br><hr>
                </div>
    
                <!-- Previous and next buttons -->
                <div class="col-lg-12 text-center">
                    {% if paginator.total_pages > 1 %}
                    <ul class="pager">
                      {% if paginator.previous_page %}
                        <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
                        </li>
                      {% endif %}

                      {% if paginator.next_page %}
                        <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
                        </li>
                      {% endif %}
                    </ul>
                    {% endif %} 
                    
                </div>
            </div>
        </div>
    </div><!-- /.container -->

    {% include footer.html %}

  </body>

</html>
